@color-white: #f5f5f5;
@color-deepblue: #024C6A;
body {
    background-color: #333;
    padding: 0;
}
@media (min-width: 768px) {}
@media (min-width: 992px) {
    body {
        padding-top: 95px;
    }
}
@media (min-width: 1200px) {}
// navbar
.navbar.navbar-inverse {
    background: #024C6A;
    .navbar-header {
        a {
            margin-left: 25px;
            padding: 40px 40px 32px;
            position: absolute;
            z-index: 1000;
            background-color: #eb1a21;
        }
        img {}
    }
    .collapse.navbar-collapse {
        text-align: right;
        // TODO media
        ul {
            list-style: none;
            li {
                a {
                    padding: 10px;
                    color: #F5F5F5;
                    line-height: 3;
                }
                display: inline;
            }
        }
    }
    .nav-phone {
        color: white;
        text-align: right;
        line-height: 3;
        a {
            padding-right: 10px;
            color: #F5F5F5;
            &:hover {
                color: white;
            }
        }
    }
}
// banner
.unslider-nav {
    display: none;
}
.banner {
    position: relative;
    overflow: auto;
    ul {
        margin: 0;
        padding: 0;
        overflow: auto;
    }
    li {
        list-style: none;
        float: left;
        background-size: 100% 100%;
    }
    li.banner1 {
        background-image: url(../img/banner1.jpg);
    }
    li.banner2 {
        background-image: url(../img/banner2.jpg);
    }
    li.banner3 {
        background-image: url(../img/banner3.jpg);
    }
    li.banner4 {
        background-image: url(../img/banner4.jpg);
    }
    li.banner5 {
        background-image: url(../img/banner5.jpg);
    }
    .inner {
        padding: 300px 0 263px;
    }
    div.sliderLinkContainer {
        display: block;
        overflow: auto;
        text-align: center;
        background-color: #EB1A21;
        ul.sliderLink {
            margin: 0;
            li {
                width: 20%;
                display: inline-block;
                top: 0;
                a {
                    position: relative;
                    width: 100%;
                    line-height: 5;
                    padding: 0 32px;
                    color: white;
                    display: inline-block;
                }
                // padding: 10%;
            }
            li.active {
                background-color: #693C3A;
                a::before {
                    position: absolute;
                    font-size: 20px;
                    left: 45%;
                    line-height: 1;
                    content: "\e114";
                }
            }
        }
    }
}
.introduction {
    .inner {
        color: white;
        // padding: 30px;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        h2 {
            color: #f5f5f5;
            padding: 0;
            //             padding: 50px;
            // padding-top: 0;
            // padding-bottom: 10px;
        }
        h4 {
            padding: 0;
            color: #B3B3B3;
            //             padding: 50px;
            // padding-top: 0;
            // padding-bottom: 10px;
        }
    }
}
.video {
    .video-container {
        // TODO media
        background-image: url(../img/video-image.jpg);
        background-size: 100% 100%;
        padding: 270px 0;
    }
}
// Introduction two
.introductionTwo {
    h1 {
        color: #F5F5F5;
        text-align: center;
        font-size: 50px;
    }
    ul {
        list-style: none;
        color: white;
        text-align: center;
        li {
            &:first-child {
                position: relative;
                top: -7px;
            }
            vertical-align: text-top;
            display: inline-block;
            width: 33%;
            p {
                padding-top: 10px;
            }
        }
    }
}
.bannerTwo {
    position: relative;
    overflow: auto;
    ul {
        margin: 0;
        padding: 0;
        overflow: auto;
    }
    li {
        list-style: none;
        float: left;
        .inner {
            color: white;
            top: 0;
            position: absolute;
            height: 100%;
            width: 13%;
            padding: 3%;
            z-index: 11;
            overflow: hidden;
            h4 {
                // padding: 20px;
            }
            h2 {
                // padding: 20px;
            }
            p {
                // padding:20px;
            }
            // position: ;
        }
        .opacity {
            .inner;
            background-color: #024C6A;
            opacity: 0.7;
            z-index: 10;
        }
        img {
            width: 100%;
        }
    }
    // li.banner1 {
    //     background-image: url(../img/banner-1.jpg);
    // }
    // li.banner2 {
    //     background-image: url(../img/banner-2.jpg);
    // }
    // li.banner3 {
    //     background-image: url(../img/banner-3.jpg);
    // }
    // .inner {
    //     padding: 250px 0 220px;
    // }
}
.started {
    color: #F5F5F5;
    text-align: center;
    padding-bottom: 30px;
    h1 {
        margin: 0;
        padding-top: 24px;
    }
    h5 {
        padding: 0 30%;
    }
    button {
        background-color: #f5f5f5;
        color: #eb1a21;
        padding: 10px 40px;
        border: 3px solid #eb1a21;
        font-weight: bold;
    }
}
.News {
    background-color: @color-deepblue;
    color: @color-white;
    // text-align: center;
    // padding: 50px 0;
    text-align: left;
    // padding: 50px 23%;
    padding-top: 20px;
    h1 {
        margin: 0;
        text-align: center;
        padding: 20px 0;
    }
    a {
        color: @color-white;
        font-weight: 800;
        &:hover {
            color: @color-white;
        }
    }
    h5 {
        margin-top: 20px;
    }
    p {
        color: #E4E4E4;
    }
    hr {
        margin: 60px 0;
    }
    .logo {
        width: 150px;
        display: inline-block;
        padding-bottom: 120px;
    }
    .bottom-contact-us {
        float: right;
        a {
            &:last-child {
                padding-right: 0;
            }
            padding: 20px;
        }
        p {
            text-align: right;
            padding: 10px 0;
        }
        .SNS {
            text-align: right;
            padding-right: 20px;
            a {
                background-color: white;
                color: black;
                margin: 0;
                display: inline-block;
                padding: 10px;
                border-radius: 100px;
                i {
                    width: 32px;
                    display: inline-block;
                    font-size: 32px;
                    background-color: white;
                    color: black;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
        form{
            padding: 20px 0;
            padding-bottom: 150px;
            button{
                margin-left: 40px;
            }
        }
    }
}
